body {
	font-family: 'Khula', sans-serif;
}

h1 {
	font-family: 'Bitter', serif;
	font-size: 40px;
	margin-bottom:  30px;
	letter-spacing: 0.3em;
}

form {
	margin-bottom: 20px;
}

.botonera button {
	margin-bottom: 5px;
}

.contenedor-peliculas {
	margin-top: 20px;
}

ul {
	list-style: none;
	padding-left: 5px;
}

.clase {
	width: 70%;
	border: none;
	margin-left: 5px;
	font-size: 16px;
	padding: 3px;
}